In [4]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [5]:
all_sits_goal_data = pd.read_csv('all_sits_player_goal_data.csv')

In [6]:
all_sits_goal_data.head()

,player,player_upper,api_id,birthday,season_age,position,position_type,shoots,team,season,session,gp,toi,toi_gp,toi_perc,g,a1,a2,points,isf,iff,icf
0,Aaron Downey,AARON.DOWNEY,8465992,1974-08-27,33.0,R,F,R,DET,20072008,R,56.0,256.93,4.59,7.57,0.0,3.0,0.0,3.0,15.0,19.0,22.0
1,Aaron Johnson,AARON.JOHNSON,8469534,1983-04-30,24.0,D,D,L,NYI,20072008,R,30.0,415.85,13.86,22.84,0.0,0.0,2.0,2.0,16.0,22.0,46.0
2,Aaron Miller,AARON.MILLER,8457384,1971-08-11,36.0,D,D,R,VAN,20072008,R,57.0,988.18,17.34,28.42,1.0,1.0,7.0,9.0,27.0,45.0,68.0
3,Aaron Rome,AARON.ROME,8470310,1983-09-27,23.0,D,D,L,CBJ,20072008,R,17.0,309.03,18.18,29.92,1.0,0.0,1.0,2.0,15.0,24.0,33.0
4,Aaron Voros,AARON.VOROS,8469672,1981-07-02,26.0,L,F,L,MIN,20072008,R,55.0,504.60,9.17,15.08,7.0,6.0,1.0,14.0,52.0,71.0,88.0

In [ ]:
fowards_goal_data = all_sits_goal_data[all_sits_goal_data['position'] != 'D']